axis_data_fifo/*
!axis_data_fifo.xci
sim/*
!test.py
!axis_i2c_top_tb.py
!wave.do
syn/*
!Manifest.py
!add_files.tcl
!axis_i2c_top.xdc
!wave.do
sim/modelsim/*
!Manifest.py
!wave.do
*.bak
*.jou
*.log
myenv
