syn/vivado/*
!Manifest.py
!add_ip.tcl
!i2c_master.xdc
syn/quartus/*
!Makefile
!Pins
platform/xilinx/fifo/*
!fifo.xci
sim/modelsim/*
!Manifest.py
!vsim.do
sim/vivado/*
!xsim.tcl
!Manifest.py
sim/cocotb/*
!test.py
!i2c_master_tb.py